<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                                   http://www.springframework.org/schema/beans/spring-beans.xsd
                                   ">

    <bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://localhost:61616" />
    </bean>

    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
    </bean>

    <!-- komunikacja KLIENT - SKLEP -->

    <bean id="purchaseQueue" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="purchaseQueue"/>
    </bean>

    <bean id="purchaseService" class="pl.edu.amu.wmi.shop.services.PurchaseService">
        <property name="jmsTemplate" ref="jmsTemplate"/>
        <property name="purchaseQueue" ref="purchaseQueue"/>
        <property name="bankPaymentQueue" ref="bankPaymentQueue"/>
    </bean>

    <bean id="messageListenerContainer" class="org.springframework.jms.listener.SimpleMessageListenerContainer">
        <property name="messageListener" ref="purchaseService"/>
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="destination" ref="purchaseQueue"/>
    </bean>


    <!-- komunikacja SKLEP - BANK -->

    <bean id="bankPublicKeyQueueForShop" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="bankPublicKeyQueueForShop"/>
    </bean>

    <bean id="bankPaymentQueue" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="bankPaymentQueue"/>
    </bean>

    <bean id="messageListenerContainer2" class="org.springframework.jms.listener.SimpleMessageListenerContainer">
        <property name="messageListener" ref="bankPublicKeyReceiverService"/>
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="destination" ref="bankPublicKeyQueueForShop"/>
    </bean>

    <bean id="bankPublicKeyReceiverService" class="pl.edu.amu.wmi.shop.services.BankPublicKeyReceiverService">
    </bean>

</beans>
